
# vscode
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# python venv
*venv/

# user dependencies
user_deps.json

# build output 
build/
build_ut/
*.elf
*.gba

# emulator output
*.sav
GBATale-*.png
*.log
