
# vscode
.vscode/

# python
*venv/
__pycache__/

# user dependencies
user_deps.json

# tiled
*.tiled-session

# build output 
build/
build_ut/
*.elf
*.gba

# emulator output
*.sav
*.ss[1-9]
GBATale-*.png
*.log

# Undertale `data.win` extract assistance
data.win
modtool/
